<template>
  <div class="basic-button" :class="type">
    {{text}}
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: ''
    }
  },
  props: {
    text: {
      type: String,
      default: 'button'
    },
    type: {
      type: String,
      default: 'default'
    }
  }
}
</script>

<style lang="scss">
.basic-button {
  display: inline-block;
  &:active {
    border: none;
  }
  &.default {
    color: #323233;
    background-color: #fff;
    border: 1px solid #ebedf0;
    padding: 5px 10px;
  }
  &.primary {
      color: #fff;
      background-color: #07c160;
      border: 1px solid #07c160;
  }
  &.warning {
      color: #fff;
      background-color: #ff976a;
      border: 1px solid #ff976a;
  }
  &.danger {
      color: #fff;
      background-color: #f44;
      border: 1px solid #f44;
  }
}
</style>
