<template>
  <div class="basic-list">
    <div v-for="(list, index) in lists" :key="index"
     class="cell"
     :class="{'select': index === selectIndex}"
     @click="select(index)"
    >
      {{list.name}}
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      data: '',
      selectIndex: 0
    }
  },
  props: {
    lists: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    select (val) {
      this.selectIndex = val
      this.$emit('select', val)
    }
  }
}
</script>

<style lang="scss">
.basic-list {
  .cell {
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &.select {
      background: rgba(0, 0, 0, 0.2);
    }
  }
}
</style>
