<template>
  <div class="logical-validator">
    <span class="label">逻辑规则：</span>
    <el-input
      v-model="logicalValue"
      placeholder="请输入与或非表达式"
    >
    </el-input>
    <el-button @click="validate">校验</el-button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      logicalValue: ''
    }
  },
  methods: {
    validate () {
      if (!this.logicalValue) {
        this.$message.error('校验内容为空！')
      }
      const allowSymbol = [1, 0, '&', '|', '!']
      if (allowSymbol.includes(this.logicalValue)) {
        this.$message.error('未输入指定内容！')
      } else {
        this.$message.error('未输入指定内容！')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.logical-validator {
  display: flex;
  align-items: center;
  padding: 10px;
  .label {
    flex: none;
  }
}
</style>
