<template>
  <div id="app" class="page">
    <div class="left">
      <basic-list :lists="list" @select="select"></basic-list>
    </div>
    <div class="right">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>

import BasicList from '@components/basic/list'

export default {
  data () {
    return {
      list: [
        {
          name: 'logicalValidator'
        },
        {
          name: 'button'
        },
        {
          name: 'list'
        },
        {
          name: 'popup'
        },
        {
          name: 'input'
        },
        {
          name: 'radio'
        },
        {
          name: 'checkbox'
        },
        {
          name: 'select'
        },
        {
          name: 'cascader'
        },
        {
          name: 'switch'
        },
        {
          name: 'slider'
        },
        {
          name: 'timePicker'
        },
        {
          name: 'datePicker'
        },
        {
          name: 'dateTimePicker'
        },
        {
          name: 'upload'
        },
        {
          name: 'rate'
        },
        {
          name: 'colorPicker'
        },
        {
          name: 'table'
        },
        {
          name: 'tag'
        },
        {
          name: 'progress'
        },
        {
          name: 'tree'
        },
        {
          name: 'pagination'
        },
        {
          name: 'badge'
        },
        {
          name: 'tree'
        },
        {
          name: 'loading'
        },
        {
          name: 'message'
        },
        {
          name: 'messageBox'
        },
        {
          name: 'notification'
        },
        {
          name: 'navMenu'
        },
        {
          name: 'tabs'
        },
        {
          name: 'breadCrumb'
        },
        {
          name: 'dropDown'
        },
        {
          name: 'steps'
        },
        {
          name: 'dialog'
        },
        {
          name: 'popOver'
        },
        {
          name: 'card'
        },
        {
          name: 'carousel'
        },
        {
          name: 'collapse'
        }
      ]
    }
  },
  components: {
    BasicList
  },
  methods: {
    select (val) {
      const name = this.list[val] ? this.list[val].name : ''
      if (name) {
        this.$router.push({ name: name })
      }
    }
  }
}
</script>

<style lang="scss">
.page {
  position: relative;
  height: 100%;
  .left {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
    overflow-x: hidden;
    &::-webkit-scrollbar {
      display: none;
    }
    &:hover {
      &::-webkit-scrollbar {
        display: block;
      }
    }
  }
  .right {
    margin-left: 200px;
    height: 100%;
  }
}
</style>
