@import './var.scss';
button {
  background: none;
  border: none;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0.3);
} /* 滚动条的滑轨背景颜色 */

::-webkit-scrollbar-thumb {
  width: 8px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
} /* 滑块颜色 */

// ::-webkit-scrollbar-button {
//   background-color: #7c2929;
// } /* 滑轨两头的监听按钮颜色 */

// ::-webkit-scrollbar-corner {
//   background-color: black;
// } /* 横向滚动条和纵向滚动条相交处尖角的颜色 */